<%- include('components/nav'); %>

<div class="pmd-card col-12 col-md-11 mx-auto toppedCard">
  <div class="pmd-card-body">
    <div class="mx-auto" id="map"></div>

    <div class="d-flex justify-content-center my-3">
      <div class="marginedButtons">
        <a type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-danger" href="/updateHabitant/<%= habitant._id %>">Annuler
          <i class="marginedIcons fas fa-undo-alt"></i>
        </a>
      </div>
      <div class="marginedButtons">
        <form action="/customMarker" method="POST">
          <input type="hidden" name="id" value="<%= habitant._id %>">
          <input type="hidden" name="lat" id="latInput" value="<%= habitant.geolocation.lat %>">
          <input type="hidden" name="lng" id="lngInput" value="<%= habitant.geolocation.lng %>">
          <button type="submit" class="btn pmd-btn-outline pmd-ripple-effect btn-primary">Valider
            <i class="marginedIcons fas fa-check"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFIad86hvh5HRUGYn-Wctw7HVSBsYH6Ok&callback=initMap&v=weekly&map_ids=39ee332af62ffb8d"></script>
<script type="text/javascript">
  var habitants = <%- JSON.stringify(habitants) %>,
    marker,
    i,
    map,
    icon,
    notSeenMarkers = [],
    acceptedMarkers = [],
    declinedMarkers = [];
    
  function initMap() {
    const myLatlng = {
      lat: <%= habitant.geolocation.lat %> ,
      lng: <%= habitant.geolocation.lng %>
    };

    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 18,
      center: myLatlng,
      mapId: "39ee332af62ffb8d"
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
          map: map,
          icon: {
            url: "http://maps.google.com/mapfiles/kml/shapes/man.png",
            scaledSize: new google.maps.Size(35, 35)
          }
        });
      })
    }

    for (i = 0; i < habitants.length; i++) {
      if (habitants[i].given == "notSeen" && habitants[i].visits == 0)
        icon = {
          url: "/src/blue.png"
        };
      else if (habitants[i].given == "notSeen" && habitants[i].visits >= 1)
        icon = {
          url: "/src/blue2.png"
        }
      else if (habitants[i].given == "declined")
        icon = {
          url: "/src/red.png"
        }
      else if (habitants[i].given != "notSeen" && habitants[i].given != "declined")
        icon = {
          url: "/src/green.png"
        }

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(habitants[i].geolocation.lat, habitants[i].geolocation.lng),
        map: map,
        icon: icon
      });

      if (habitants[i].given == "notSeen")
        notSeenMarkers.push(marker)
      else if (habitants[i].given == "declined")
        declinedMarkers.push(marker)
      else if (habitants[i].given != "notSeen" && habitants[i].given != "declined")
        acceptedMarkers.push(marker)

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          displayInfos(habitants[i]);
        }
      })(marker, i));
    }

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng( <%= habitant.geolocation.lat %> , <%= habitant.geolocation.lng %> ),
      map: map,
    });

    map.addListener("click", (mapsMouseEvent) => {
      var laln = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2);

      marker.setPosition(mapsMouseEvent.latLng);
      document.getElementById('latInput').value = JSON.parse(laln).lat;
      document.getElementById('lngInput').value = JSON.parse(laln).lng;
    });

  }
</script>
